html {
    font-size: 20px;
    background: #fffffd;
    background-image: url("/img/bg.jpg");
}

body {
    max-width: 762px;
    margin: auto;
    padding: 0 1rem 0 1rem;
    font-family: 'Gotu', sans-serif;
    font-weight: 400;
}

header {
    margin: 1rem 0 2rem 0;
    text-align: center;
}
img.logo {
    margin: auto;
    text-align: center;
    transition: all 1.2s ease-in-out;
}
img.logo:hover {
    
    transform: rotate(720deg) scale(1.3);
}

main {}

button {
    background-color: #ccddff;
    padding: .8rem 1.2rem;
    border-radius: .7rem;
    border: 0;
    box-shadow: .2rem .2rem .5rem rgba(0,0,0,0.15);
    cursor: pointer;
    margin: 1rem auto;
}

button:active {
    box-shadow: none;
    transform: translate(1px,1px);
    border: none;
}

footer {}

.modal-credits {}

.modal-credits-content {}